h1 {
	color: red;
} 

td, th {
	border-color: black;
	border-style: solid;
	font-size: 20px;
	border-width: 2px;
}
table {
	border-collapse: collapse;
	width: 50%;
}

th {
	background-color: #FA8072;
	color: #fff;
}

td {
	text-align: center;
}
.title {
color: #FF1493;
}
.important{
	font-weight: 900;
	color: 	salmon;
	text-decoration: inherit;
}

/*-----posters-----*/
.posters{
	text-align: center;
	background-color: #F5DEB3;
	padding: 50px;
}
.posters__title{
 color: black;
}
.movies__box{
	display: inline-block;
	width: 250px;
	height: 600px;
	vertical-align: top;
	margin: 20px;
}
.desc__box{
	color: #87CEFA ;
	font-size: 20px;
}
body{
	font-family: "Verdana", sans-serif;
	margin: 0px;
	padding: 0px;
}
img {
  border: 3px solid black;
  width: 250px;
  box-shadow: 0px 0px 20px rgb(255 166 0);
  border-radius: 10px;
}
.peliculas__box{
	color: black;

}
h2{
	color: #00BFFF;
}
.movies__box, a{
	color: black;
	text-decoration: none;
}
.button{
	vertical-align: bottom;
	border: 1px solid black;
	padding: 10px;
	display: block;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
.button:hover {
	background: black;
	color: #fff;
}
.button2{
	margin-top: 111px;
}
.button3{
	margin-top: 91px;
}
.button4{
	margin-top: 35px; 
}
.button5{
	margin-top: 92px;
}
span{
	color: red;
	font-weight: 900;
}
.menu__portfolio{
	text-align: center;
	background-color: #536296;
	padding: 50px 0px;
	border-radius: 10px;
	margin: 0px 80px 0px 80px;
	border: 4px solid black; 
	box-shadow: 0px 0px 20px rgb(255 166 0);
}
.portfolio{
	margin-left: auto;
	margin-right: auto;
}
.navigation-list li {
list-style-type: none;
margin-left: -30px;
}
.subtitle__portfolio{

}
.title__portfolio{
	text-align: center;
	font-size: 70px;
	margin-bottom: 37px;
	margin-top: 24px;
}

.center {
	padding: 0px 0px 0px 80px;
}