body{

}

.list{
	background-color: #6B8E23;
	padding: 20px;
	color: white;
	font-size: 30px;
	border-style: solid;
	border-color: #556B2F;
	border-width: 5px; 
}

a{
	color: white;
}

p{
	background-color: #708090;
	color: white;
	font-style: italic;
	width: 520px;
	padding: 10px;
	font-size: 20px;
	margin-top: 40px;
}

.my-photo{
	box-shadow:  0 0px 300px rgb(0, 0, 139);
}



.about-me{
	margin-top: 50px;
}

#posters{
	background-color: #FFA07A;
	text-align: center;
}

h1{
	color: #483D8B;
	font-style: oblique;
	font-size: 60px;
	text-align: center;
}

h2{
 color: #191970;
  font-size: 35px;
}

.one{
	margin-bottom: 50px;
	margin-top: 45px;
}

span{
	color: #B22222;
}

.one{
	display: inline-block;
	padding: 10px;
	margin-top: 5px;
	text-align: center;
	width: 30%;
	vertical-align: top;
	height: 700px;
	border: 4px solid #000;
}

img{
	box-shadow:  0 0px 30px rgb(0 0 0);
	height: 350px;
	width: 350px;
}
