body{
    background-color: azure;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

h2{
    text-align: center;
}

.top_menu{
    background-color: black;
}

h1{
    display: inline;
    padding-left: 70px;
    vertical-align: middle;
    text-align: center;
    color: chartreuse;
}

.top_menu img{
    height: 70px;
    padding-left: 50px;    
    vertical-align: middle;
    background-color: black;
}

.gallery{
    
}

.images{
    margin: 0 auto;
    width: 590px;
}

.images img{
    margin: 20px;
    width: 130px;
    border: 2px solid green;
}

.benefit{    
    background-color: lightcoral;
    padding-top: 25px;
    padding-bottom: 25px;
}

.list{
    width: 400px;
    margin: 0 auto;
    font-size: 20px;
    text-decoration: underline;
}

table{
	margin: 0 auto; 
    border-collapse: separate;    
    width: 60%;
    background-color: bisque;
    border-collapse: collapse;
}

td, th{
    border: 1px black solid;
    text-align: center;
}

